<div class="main_block">
  <div (click)="close()" class="close"></div>
  <div class="timer_block">
    <button mat-button>
      <div class="time">
        <h3>5 minutes</h3>
      </div>
    </button>
    <button mat-button>
      <div class="time">
        <h3>15 minutes</h3>
      </div>
    </button>
    <button mat-button>
      <div class="time">
        <h3>30 minutes</h3>
      </div>
    </button>
    <button mat-button>
      <div class="time">
        <h3>1 hour</h3>
      </div>
    </button>
    <button mat-button>
      <div class="time">
        <h3>End of track</h3>
      </div>
    </button>
  </div>
</div>
