<section #slider class="splide" aria-label="Slide Container Example">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img class="news-images" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg">
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img class="news-images" src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg">
        </div>
      </li>
    </ul>
  </div>
</section>
