<section #slider class="splide" aria-label="Slide Container Example">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img class="news-images" src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg">
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <img class="news-images" src="https://api-dynamics.adaptable.app/auth/get/12MUevM3hUC7Zh6BPMFd2FODVh6Y-UtQZ">
        </div>
      </li>
    </ul>
  </div>
</section>
