<div class="main-block">
  <div class="playlists_box">
    <h2 class="title_playlists">New collectors</h2>
    <div class="playlists">
      <div class="scroll">
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
      </div>
    </div>
  </div>
  <div class="artists_box">
    <h2 class="title_playlists">Favorite Artists</h2>
    <div class="artists">
      <div class="scroll">
        <div class="artist_block_cover">
          <div class="artist_block">
            <img src="assets/images/icon-384x384.png" alt="artist">
          </div>
          <p>Artist</p>
        </div>
        <div class="artist_block_cover">
          <div class="artist_block">
            <img src="assets/images/icon-384x384.png" alt="artist">
          </div>
          <p>Artist</p>
        </div>
        <div class="artist_block_cover">
          <div class="artist_block">
            <img src="assets/images/icon-384x384.png" alt="artist">
          </div>
          <p>Artist</p>
        </div>
        <div class="artist_block_cover">
          <div class="artist_block">
            <img src="assets/images/icon-384x384.png" alt="artist">
          </div>
          <p>Artist</p>
        </div>
        <div class="artist_block_cover">
          <div class="artist_block">
            <img src="assets/images/icon-384x384.png" alt="artist">
          </div>
          <p>Artist</p>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 40px" class="playlists_box">
    <h2 class="title_playlists">Collectors just for you, {{ account ? account.name : '' }}</h2>
    <div class="playlists">
      <div class="scroll">
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="http://localhost:8080/hello/get/ab67616d0000b27320f9eac87498482bc561504b.jpg">
          </div>
          <p>Name</p>
        </div>
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
        <div class="playlist_block_cover">
          <div class="playlist">
            <div class="layer">
              <div class="play_circle">
                <mat-icon>play_arrow</mat-icon>
              </div>
            </div>
            <img src="https://marketplace.canva.com/EAEdeiU-IeI/1/0/1600w/canva-purple-and-red-orange-tumblr-aesthetic-chill-acoustic-classical-lo-fi-playlist-cover-jGlDSM71rNM.jpg">
          </div>
          <p>Name</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right_block">
    <div class="categories">
      <div class="block">
        <div routerLink="/home/category/rap" class="box rap">
          <h5>Rap</h5>
          <img src="assets/images/categories/rap.png">
        </div>
        <div routerLink="/home/category/hip-hop" class="box pop-hiphop">
          <h5>Hip hop</h5>
          <img src="assets/images/categories/hip-hop.png">
        </div>
      </div>
      <div style="margin-top: 20px" class="block">
        <div routerLink="/home/category/rock" class="box rock">
          <h5>Rock</h5>
          <img src="../../../assets/images/categories/rock.png">
        </div>
        <div routerLink="/home/category/jazz" class="box jazz">
          <h5>Jazz</h5>
          <img src="assets/images/categories/jazz.png">
        </div>
      </div>
    </div>
  </div>
</div>
