<div class="main_block">
  <div class="scroll_box">
    @if (trackList && trackList.length !== 0) {
      <div (click)="setTrack(trackList[0].videoId, 0)" class="play_list">
        @if (listIsPlay) {
          <img class="music_playGIF" src="assets/images/icons/music_play.gif">
        } @else {
          <mat-icon>play_arrow</mat-icon>
        }
      </div>
    }
    <div class="header_block">
      <div class="back_button_block">
        <button>
          <mat-icon routerLink="/home">arrow_back_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="title_block">
      <h1 [style.color]="color">{{ category | titlecase }}</h1>
    </div>
    <div
      style="overflow-y: auto; padding-bottom: 150px; margin-top: 55px"
      appResizeHeight [size]="216">
      @if (!trackList) {
        @for (num of loadArray; track loadArray) {
          <div class="track_block">
            <div class="track_box">
              <div style="display: flex; align-items: center">
                <div class="track_image">
                  <div style="width: 50px; height: 50px; background-color: #2a2a2a; border-radius: 8px"></div>
                </div>
                <div class="track_info_box">
                  <div style="width: 100px; height: 14px; background-color: #2a2a2a; border-radius: 5px"></div>
                  <div style="width: 70px; height: 14px; background-color: #2a2a2a; border-radius: 5px; margin-top: 7px"></div>
                </div>
              </div>
            </div>
          </div>
        }
      }
      @for (track of trackList; track $index) {
        <div class="track_block">
          <div
            [style.outline]="track.videoId === trackPlayId ? 'rgb(255 255 255 / 39%) solid 1px' : 'none'"
            [style.background-color]="track.videoId === trackPlayId ? 'rgb(96 96 96 / 45%)' : '#1a1a1a'"
            class="track_box">
            <div (click)="setTrack(track.videoId, $index)" style="display: flex; align-items: center; width: 100%">
              <div class="track_image">
                <img class="image" [src]="track.image" alt="track image">
              </div>
              <div class="track_info_box">
                <h4>{{ track.title }}</h4>
                <span>{{ track.author.name }}</span>
              </div>
            </div>
            <div class="control_box">
              <span class="track_duration">{{ formatTime(track.seconds) }}</span>
            </div>
          </div>
        </div>
      }
      @if (trackList) {
        @if (trackList.length === 0) {
          <h3 style="color: white; text-align: center;">Favorites not added</h3>
          <div style="text-align: center">
            <button
              routerLink="/home/"
              style="
              background-color: transparent;
              border: 1px solid rgba(255,255,255,0.47);
              padding: 10px 20px;
              color: white;
              margin-top: 10px;
              border-radius: 10px;
              outline: none;
            ">Home</button>
          </div>
        }
      }
    </div>
  </div>
</div>
