<div [style.background-color]="backgroundColor" class="main-block">
  <div class="layer">
    <div>
      <img class="nav_icon" title="Home" src="../../../assets/images/icons/home-white.svg">
      <img class="nav_icon" title="Home" src="../../../assets/images/icons/search.png">
      <img class="nav_icon" title="Favorites" src="../../../assets/images/icons/favorite-no-filled.png">
    </div>
    <img class="nav_icon" title="Favorites" src="../../../assets/images/icons/menu.png">
  </div>
</div>
