<div class="main_block">
  <div class="search_block">
    <input #searchInput (input)="searchTrackList(searchInput.value)" placeholder="Search..." class="search" type="search">
    @if (searchInput.value !== '') {
      <div class="search_history_block">
        @for (item of search; track item) {
          <button (click)="setTrack(item.videoId, $index)" class="history_block">
            <img class="track_image" [src]="item.image">
            <h3 class="title">{{ item.title.length > 50 ? item.title.slice(0, 50) : item.title }}</h3>
          </button>
        }
      </div>
    }
  </div>
</div>
