<div style="position: relative" class="main_div">
  @if (mainLoader) {
    <app-loader-main style="position: absolute; z-index: 1000; width: 100%; height: 100%"></app-loader-main>
  }
  <img class="side_image" src="assets/images/icon-384x384.png">
  <div class="layer"></div>
  <div class="container">
    <div class="images_box">
<!--      <img class="messgae_image" src="assets/images/message2.gif">-->
    </div>
    <div class="login_block">
      <form #formDirective="ngForm" [formGroup]="form" (ngSubmit)="send(formDirective)">
        <h1>Login</h1>
        <input
          class="text_field"
          type="email"
          name="email"
          formControlName="email"
          placeholder="Enter your email">
        <div style="position: relative">
          <input
            style="padding-right: 65px"
            class="text_field"
            name="password" [type]="hide ? 'password' : 'text'"
            formControlName="password" type="password"
            placeholder="Enter your password">
          <button
            type="button"
            class="hide_show_pass_btn"
            mat-icon-button
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        @if (isFalseLogin && !form.touched && !form.dirty) {
          <strong
            style="margin-top: 5px; color: #d23b3b; font-family: Poppins"
          >Incorrect email or password</strong>
        }
        <button [disabled]="form.invalid" class="send_button">Sign in</button>
      </form>
      <div style="display: flex; align-items: center; justify-content: center; padding: 0 20px">
        <hr style="flex-grow: 1; border: 1px solid rgba(255,255,255,0.22);">
        <p style="color: rgba(255,255,255,0.6); font-family: 'Nunito', sans-serif; margin: 0 10px;">Or</p>
        <hr style="flex-grow: 1; border: 1px solid rgba(255,255,255,0.22);">
      </div>
      <button class="google-button" (click)="loginWithGoogle()">
        <img src="assets/images/google-icon-2048x2048-czn3g8x8.png" alt="Google logo" class="google-logo" />
        <span>Sign in with Google</span>
      </button>
      <a class="dont_acc_link" routerLink="/register">don't have an account? - register</a>
    </div>
  </div>
</div>
