<div style="overflow: hidden" class="main-background">
<!--  <div [@routeAnimations]="prepareRoute(outlet)">-->
    <router-outlet #outlet="outlet"></router-outlet>
<!--  </div>-->
<!--  <ion-router-outlet></ion-router-outlet>-->
  <app-player
    [style.z-index]="'99'"
    [style.display]="this.routePath.slice(0, 9) === '/dynamics' ? 'none' : 'unset'"
    [style.width]="innerWidth > 850 ? 'calc(80% - 35px)' : '100%'"
    [style.right]="innerWidth > 850 ? !isOpenedPlayer ? '20px' : '0'  : 'unset'"
    [ngStyle]="{
      bottom: isOpenedPlayer
        ? '0'
        : (innerWidth > 850
          ? '10px'
          : 'calc(env(safe-area-inset-bottom) +' + ' ' + ((isNative ? 47 : 55) - keyboardHeight) + 'px)'),
    }"
    style="position: absolute; width: 100%; z-index: 5; transition: .3s "></app-player>
    @if (innerWidth < 850) {
      <app-mobile-nav-panel
        [style.display]="this.routePath.slice(0, 9) === '/dynamics' ? 'none' : 'unset'"
        [style.bottom]="'-' + keyboardHeight + 'px'"
        style="
          position: absolute;
          width: 100%; left: 0; z-index: 2"></app-mobile-nav-panel>
    }
</div>
