.main-background {
  width: 100%;
  height: 100vh;
  display: flex;
}

.scroll_box {
  overflow-y: scroll;
  padding: 20px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(3px);
}

.scroll_box > .box {
  display: flex;
}

.profile {
  width: 55px;
  height: 54px;
  background-color: #545454;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

app-mobile-player {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.profile > img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
}

app-mobile-nav-panel {
  display: none;
}

.scroll_box {
  padding-bottom: 150px;
}

app-timer-bottom-sheet {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  z-index: 999;
  transition: .25s;
}

 /* media */

@media screen and (max-width: 970px) {
  app-pc-nav-panel {
    display: none;
  }

  app-mobile-nav-panel {
    display: block;
  }

  .profile {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .scroll_box {
    padding-bottom: 370px;
  }
}
