<div style="overflow: hidden" class="main-background">
  <router-outlet></router-outlet>
<!--  <ion-router-outlet></ion-router-outlet>-->
  <app-player
    [style.display]="this.routePath.slice(0, 23) === '/home/dynamics-ai/chat/' ? 'none' : 'unset'"
    [style.width]="innerWidth > 850 ? 'calc(80% - 4px)' : '100%'"
    [style.right]="innerWidth > 850 ? '0' : 'unset'"
    [ngStyle]="{
      bottom: isOpenedPlayer
        ? '0'
        : (innerWidth > 850
          ? '10px'
          : 'calc(env(safe-area-inset-bottom) +' + ' ' + (55 - keyboardHeight) + 'px)'),
    }"
    style="position: absolute; width: 100%; z-index: 5; transition: .3s "></app-player>
    <app-mobile-nav-panel
      [style.bottom]="'-' + keyboardHeight + 'px'"
      style="
    position: absolute;
    width: 100%; left: 0; z-index: 2"></app-mobile-nav-panel>
</div>
