<div
  [style.padding-bottom]="isNative ? 'env(safe-area-inset-bottom)' : '10px'"
  [style.padding-top]="isNative ? '8px' : '6px'"
  class="main_block">
  <div class="nav_box">
    <div (click)="setRouteActive('home')" routerLink="/home">
      <img
        [style.display]="routePath === 'home' ? 'none' : 'unset'"
        height="24"
        width="24"
        ngSrc="assets/images/icons/home-filled.svg" alt="search">
      <img
        [style.display]="routePath !== 'home' ? 'none' : 'unset'"
        height="24"
        width="24"
        ngSrc="assets/images/icons/home-white.svg" alt="search">
      <span>Home</span>
    </div>
    <div (click)="setRouteActive('search')" routerLink="/search">
      <img
        [style.display]="routePath === 'search' ? 'none' : 'unset'"
        height="24"
        width="24"
        ngSrc="assets/images/icons/search.svg" alt="search">
      <img
        [style.display]="routePath !== 'search' ? 'none' : 'unset'"
        height="24"
        width="24"
        ngSrc="assets/images/icons/search-filled.svg" alt="search">
      <span style="margin-top: 2px">Search</span>
    </div>
    <div (click)="setRouteActive('library')" routerLink="/library">
      <svg
        [style.display]="routePath === 'library' ? 'none' : 'unset'"
        style="outline: none;"
        data-encore-id="icon"
        role="img"
        fill="white"
        aria-hidden="true"
        viewBox="0 0 24 24">
        <path d="M14.5 2.134a1 1 0 0 1 1 0l6 3.464a1 1 0 0 1 .5.866V21a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1V3a1 1 0 0 1 .5-.866zM16 4.732V20h4V7.041l-4-2.309zM3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zm6 0a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1z"></path></svg>
      <img
        [style.display]="routePath !== 'library' ? 'none' : 'unset'"
        style="width: 22px; height: 22px;"
        routerLink="/library" src="assets/images/icons/libary-filled.svg" alt="library">
      <span>Library</span>
    </div>
  </div>
</div>
