.main_block {
  width: 100%;
  height: 70px;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.main_block > .nav_box {
  width: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main_block > .nav_box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_block > .nav_box > div > span {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 11px;
}

.main_block > .nav_box > div > img,
.main_block > .nav_box > div > svg {
  width: 24px;
  height: 24px;
  transition: .1s;
}

.main_block > .nav_box > div > img:active,
.main_block > .nav_box > div > svg:active {
  scale: 0.9;
}

.main_block > .nav_box > div + div > img {
  width: 19px;
  height: 19px;
}

@media screen and (max-width: 400px) {
  .main_block > .nav_box {
    width: 210px;
  }

  .main_block > .nav_box > div > img,
  .main_block > .nav_box > div > svg {
    width: 22px;
    height: 22px;
  }
}
