.main_block {
  padding: 20px;
}

h1 {
  color: white;
  margin-top: calc(40px + env(safe-area-inset-top));
  font-size: 35px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, #0022ff, #0578f8);
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

.chats_block {
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 105px - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  padding-bottom: 50px;
  border-radius: 20px 20px 0 0;
}

@media screen and (min-width: 850px) {
  .chats_block {
    height: calc(100vh - 105px);
  }
}

h2 {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.chats_block::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.chat {
  width: 100%;
  margin-top: 5px;
  height: 80px;
  overflow: hidden;
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /*background-color: #0e0e0e;*/
  border-radius: 12px;
  position: relative;
}

.line {
  content: "";
  display: block;
  width: calc(100% - 50px);
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
}

.chat > h3 {
  color: white;
  font-family: "Nunito", sans-serif;
  max-width: 90%;
}

.chat > p {
  color: #bebebe;
  font-family: "Nunito", sans-serif;
  margin-top: 5px;
  font-size: 13px;
  max-width: 90%;
}

.create_chat_btn {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  justify-content: center;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.create_chat_btn:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.chat_more_button {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
}

.header {
  margin-top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
}

.list_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.close_ai_btn {
  padding: 10px 13px 10px 8px;
  background: #0e0e0e;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  align-self: start;
  display: flex;
  align-items: center;
}
