<div class="main_block">
  <div class="header">
    <button routerLink="/library" class="close_ai_btn">
      <mat-icon style="margin-right: 10px">close</mat-icon>
      Close Dynamics Ai
    </button>
    <div class="list_block">
      <h2>Chats</h2>
      @if (place !== 'pc-component') {
        <button
          (click)="createNewChat()"
          class="create_chat_btn"><mat-icon style="color: #0070f3; width: 31px; height: 31px; font-size: 31px">add</mat-icon></button>
      }
    </div>
  </div>
  @if (chats) {
    <div class="chats_block">
      @for (item of chats; track $index) {
        @if ($index !== 0 && $index !== chats.length) {
          <div class="line"></div>
        }
        <div style="position: relative">
          <button class="chat_more_button" (click)="openSheetChatMore(item._id)" mat-icon-button>
            <mat-icon style="color: white">more_vert</mat-icon>
          </button>
          <div (click)="router.navigate(
        [place === 'pc-component' ? 'dynamics-ai-pc/chat/' : 'dynamics-ai/chat/', item._id])" class="chat">
            <h3>{{ item.chat.length !== 0 ? item.chat[0].content.length > 30 ? item.chat[0].content.slice(0, 30) + '...' : item.chat[0].content : 'Empty chat' }}</h3>
            <p>{{ item.chat.length !== 0 ? item.chat[1].content.length > 50 ? item.chat[1].content.slice(0, 50) + '...' : item.chat[1].content : 'Click here for messaging' }}</p>
          </div>
        </div>
      }
    </div>
  }
</div>
