.main_block {
  padding: 20px;
}

h1 {
  color: white;
  margin-top: calc(40px + env(safe-area-inset-top));
  font-size: 35px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, #0022ff, #0578f8);
  -webkit-background-clip: text;
  text-align: center;
  -webkit-text-fill-color: transparent;
}

.chats_block {
  margin-top: 30px;
  overflow-y: scroll;
  height: calc(100vh - 285px - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  padding-bottom: 50px;
}

@media screen and (min-width: 850px) {
  .chats_block {
    height: calc(100vh - 105px);
  }
}

h2 {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.chats_block::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.chat {
  width: 100%;
  padding: 10px 20px;
  margin-top: 5px;
  height: 80px;
  overflow: hidden;
  font-size: 16px;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  background-color: #0e0e0e;
  border-radius: 12px;
}

.line {
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  background: rgba(255, 255, 255, 0.08);
  margin: 8px 10px;
}

.chat > h3 {
  color: white;
  font-family: "Nunito", sans-serif;
}

.chat > p {
  color: #bebebe;
  font-family: "Nunito", sans-serif;
  margin-top: 5px;
  font-size: 13px;
}

.create_chat_btn {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  justify-content: center;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.create_chat_btn:active {
  background-color: rgba(255, 255, 255, 0.4);
}
